# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment — JANGAN masuk container
.env
.env.*

# Git
.git/
.gitignore

# WA session local
.wwebjs_auth/
.wwebjs_cache/

# Temp
tmp/
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# CATATAN:
# public/ TIDAK ada di sini — harus masuk container
# src/ TIDAK ada di sini — harus masuk container